@font-face {
  font-family: "saol";
  src: url("font/Gramatika-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("font/Gramatika-Bold.ttf");
}

@font-face {
  font-family: "italic";
  src: url("font/Gramatika-RegularItalic.ttf");
}

/* .... */
/* ---- grid ---- */

.grid {
  background: #DDD;
  max-width: 96%;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

#wrapper {
  width:97%;
  padding-top: 30px;
}
.wrapper {
    width:97%;
    margin:0 auto;
}
.wrapper div {
    width:46%;
    margin:1%;
    float:left;
    -webkit-transition: width 1s;
    transition: width 1s;
    font-size: 0.5em;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    height:45vh;
    z-index: 2;
    padding:10px;
}


.wrapper img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height:auto;
  width:90%;
  padding-top: 6%;
}

.expanded {
    width:94% !important;
    height:100% !important;
}
.expanded p {
  font-size: 2.5em;
  line-height: 1.3em;
    height:auto;
}
.expanded img {
    width:50%;
      padding-top: 8%;
  }


p5{
    width: 77vw;
    padding: 10px;
    margin-left: 18vw;
    display: block;
  border-width: 1px;
  border-color: black;
  border-style: solid;
border-radius: 6px;
  font-size: 1.2em;
  line-height: 1.4em;
}

p6{
    line-height: 1.4em;
  margin-top: 1vh;
  padding-bottom: 10%;
    width: 77vw;
    padding: 10px;
    display: block;
  border-width: 1px;
  border-color: black;
  border-style: solid;
border-radius: 6px;
  font-size: 1.2em;
}


#wrapper-1 {
    width: 96%;
    padding-top: 100px;
    position: absolute;
}

.wrapper-1 {
    width:96vw;
    margin:0 auto;
    position: absolute;
}
.wrapper-1 div {
    width:31vw;
    /* margin:1%; */
    float:left;
    -webkit-transition: width 1s;
    transition: width 1s;
    font-size: 0.5em;
    border-width: 1px;

    border-radius: 40px;
    height:30vh;
    z-index: 2;
    padding:2px;
}

.wrapper-1 img {
  height:auto;
  width:100vw;
}

.expanded-1 {
    width:92vw !important;
    height:50vh !important;
}
.expanded-1 p {
  font-size: 2.5em;
  line-height: 1.3em;
    height:auto;
    padding-bottom: 0;
}
