@font-face {
  font-family: "saol";
  src: url("font/Gramatika-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("font/Gramatika-Bold.ttf");
}

@font-face {
  font-family: "italic";
  src: url("font/Gramatika-RegularItalic.ttf");
}

body {
  font-family: "saol";
}

html{
  scroll-behavior: smooth;
}

article {
	margin: auto;
}
blockquote{
  width:90vw;
  padding-left:10vw;
}

article,
.emptyBlocks {
	width: auto;
	margin: 2%;
}

p {
  font-size: 3em;
  padding-bottom: 10%;
}

/* .category, */
.title{
	position: -webkit-sticky;
	position: sticky;
	height: 100%;
  top: 2vw;
  font-size: 3em;
  margin-top: 5%;
  display: inline;
  padding:1%;
  line-height:1.8em;
  box-decoration-break: clone;
  z-index: 10;
}

h1{
  background-color: black;
  color:white;
}

h2{
  background-color: white;
  color:black;
  border: 2px solid grey;
  /* to makeit end at the end of text on line */
  -webkit-box-decoration-break: clone;
box-decoration-break: clone;
  padding:1%;
    line-height:1.5em;
}
h3{
  color:black;
  font-family:"italic";
  /* to makeit end at the end of text on line */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding:1%;
  font-size: 1.7em;
  line-height:1em;
}
h4{
  background-color: black;
  color:white;
}

.sub-title{
  position: -webkit-sticky;
	position: sticky;
	height: 100%;
  top: 7%;
  font-size: 3em;
	background-color: white;
  color:BLUE;
  font-family: "bold";
  margin-top: 5%;
  display: inline;
  padding:1%;
  line-height:2em;
  box-decoration-break: clone;
  z-index: 10;
}

article span{
	border: 2px solid grey;
  /* to makeit end at the end of text on line */
  -webkit-box-decoration-break: clone;
box-decoration-break: clone;
  padding:1%;
    line-height:1.5em;
    font-style: italic;
}

.emptyBlocks {
	height: 200px;
	margin: 40px auto;
  background-color: white;
}


/* not using the enymore but keeping it here for now */
/* .category {
	top: 0;
  font-size: 3em;
} */




/* sticky one letter for creating attention */
#sticky {
  position: sticky;
  position: -webkit-sticky;

  width: 20vw;
  height: 100px;

  top: 20%;

  z-index: 1;
  display: inline-block;
  /* ustify-content: center; */
  align-items: left;
}

#wrapper {
  width: 20vw;
  position: absolute;

}
#wrapper span {
  font-size: 3em;
  color:red;
}
p2{
    padding: 5px;
    padding-left: 2%;
    display: inherit;
    font-size: 4em;
    text-decoration: underline;
}

p3{
    width: 90vw;
    padding-left: 20vw;
    display: inline-block;
    font-size: 3.6em;
    font-family: "bold";

}

/* navigator literature */
nav a {
  color: black;
  margin: none;
  text-decoration: none;
}



/* slider chapter 4 */
p4{
    font-size: 4em;
  text-align: center;
  color: black;

z-index: 2;
  display: inline-block;
}
p5 {
    font-family: "bold";
  font-size: 3em;
  padding-bottom: 10%;
}

/* my poem  */
p8{
  text-align: center;
  color: black;
border-width: 1px;
border-color: black;
border-style: solid;
  font-family: "bold";
  border-radius: 6px;
z-index: 2;
display: block;
font-size: 3em;
margin-top: 2%;
padding: 6px;
}

p7{
  text-align: center;
  color: grey;
    font-family: "bold";
border-width: 1px;
border-color: black;
border-style: solid;
  border-radius: 6px;

z-index: 2;
display: block;
font-size: 3em;
margin-top: 2%;
padding: 6px;
}

p9{
  text-align: center;
  color: white;
  background-color: grey;
border-width: 1px;
border-color: black;
border-style: solid;
  border-radius: 6px;
z-index: 2;
display: list-item;
font-size: 3em;
margin-top: 2%;
padding: 6px;
}

p10{
    font-family: "italic";
  text-align: center;
border-width: 1px;
border-color: black;
border-style: solid;
  border-radius: 6px;
z-index: 2;
display:block;
font-size: 3em;
margin-top: 2%;
padding: 6px;
color:black;
}
p11 {
  font-size: 3em;
  font-family: "bold";
  padding-bottom: 10%;
}


#slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: 2;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  list-style: none;
  z-index: 2;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding:0;
  width: 92vw;
  height: 100vh;

  z-index: 2;
}

.control_prev,
.control_next {
background-color: inherit;
  font-size: 1.3em;
  top: 95%;

  z-index: 999;
  display: block;
color:blue;
  width: auto;
  height: auto;
text-decoration: underline;
  cursor: pointer;
  border: 0;
}


.control_next {
margin: auto;
display: inline-block;

}
